@import url('https://fonts.googleapis.com/css2?family=GFS+Neohellenic:wght@700&Dosis:wght@200;400;700&display=swap');
@import './variables';

$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';

$theme-colors: (
  'primary': $primary,
  'secondary': $secondary,
  'success': $success,
  'info': $info,
  'warning': $warning,
  'danger': $danger,
  'light': $light,
  // 'dark': $dark,
  'dark': darken($secondary, 17%),
  'gray': #f1f1f1
);

$input-bg: #fff;
$body-bg: $secondary;
$font-family-sans-serif: 'Dosis', sans-serif;
$input-focus-box-shadow: none;

@import '~bootstrap/scss/bootstrap.scss';

body {
  @media (max-width: 767px) {
    padding-top: 55px;
  }
}

a {
  text-decoration: none;
}

h6,
h5,
h4,
h3,
h2,
h1 {
  font-family: 'GFS Neohellenic', sans-serif;
}
